# core system init has been done

type       = internal
depends-on = init-fs-local.target
depends-on = init-console.target
depends-on = init-net-lo
depends-on = init-hostname
waits-for  = init-swap
waits-for  = init-rng
waits-for  = init-sysctl
restart    = false
