# Reached just before filesystems are checked and mounted

type       = internal
depends-on = early-devices.target
depends-on = early-cryptdisks
waits-for  = early-dmraid
waits-for  = early-mdadm
