# other non-network filesystems

type       = scripted
command    = ./early/scripts/fs-fstab.sh start
depends-on = early-fs-pre.target
waits-for  = early-fs-zfs
waits-for  = early-fs-btrfs
depends-ms = early-fs-fsck
waits-for  = early-root-rw.target
