# All non-network filesystems have been mounted

type       = internal
depends-on = early-fs-pre.target
waits-for  = early-fs-btrfs
waits-for  = early-fs-zfs
waits-for  = early-root-rw.target
waits-for  = early-fs-fstab.target
