# set the console font and keymap
# needs access to tmpfs and writable filesystem

type       = scripted
command    = ./early/scripts/console.sh
depends-on = early-devices.target
depends-on = early-fs-local.target
depends-on = early-keyboard.target
