# set the console keyboard layout
# can be run earlier than full console setup

type       = scripted
command    = @SCRIPT_PATH@/console.sh keyboard
depends-on = early-devices.target
