# All non-network filesystems have been mounted

type       = internal
depends-on = init-fs-pre.target
depends-on = init-root-rw.target
depends-on = init-fs-btrfs
depends-on = init-fs-zfs
depends-on = init-fs-fstab
restart    = false
