# Earliest system bringup target

type       = internal
depends-on = init-pseudofs
depends-on = init-tmpfs
depends-on = init-cgroups
restart    = false
