# set the console font and keymap
# needs access to tmpfs and writable filesystem

type       = scripted
command    = /usr/libexec/dinit/early/setupcon.sh
depends-on = init-devices.target
depends-on = init-fs-local.target
depends-on = init-keyboard.target
restart    = false
