# rc.local has been run

type       = scripted
command    = /usr/libexec/dinit/early/local.sh
depends-on = init-done.target
depends-on = init-tmpfiles
